<h1 style="text-align: center;">Список операций</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let el of columnList">{{el}}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of elements; let i=index">
    <th scope="row">{{i + 1}}</th>
    <td>{{element.operationType.operationType}}</td>
    <td>{{element.operationDate}}</td>
    <td>{{element.employee.lastName}}</td>
    <td>{{element.employee.firstName}}</td>
    <td>{{element.amount}}</td>
    <td>{{element.tool.toolName}}</td>
    <td>{{element.toolWarehouse.warehouseName}}</td>
    <td>
      <button type="button" class="buttonMargin btn btn-outline-success buttonUrlBasket"
              (click)="delete(element)"></button>
      <button type="button" class="buttonMargin btn btn-outline-success buttonUrlPencil"
              (click)="editOperation(element)"></button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-outline-primary mb-2 mr-2" style="float: right;" (click)="addOperation()">Добавить</button>



